k8s {
   context='gke_uniapp-cromwell_europe-west2-b_cluster-1'
   namespace='default'
   workDir='/workspace/example_nf/example_nf/work'
   storageClaimName = 'test-dynamic-volume-claim'
   computeResourceType = 'job'
}

executor {
  queueSize = 30
}
params {
similarity = true
    similarity_chunkrun = true
    similarity_chunks = 4
    similarity_hardware_type = "cpu"
    similarity_threads = 1
    similarity_clusmethod = "gmm"
    similarity_corrmethod = "spearman"
    similarity_minexpr = 0
    similarity_minsamp = 25
    similarity_minclus = 1
    similarity_maxclus = 5
    similarity_criterion = "ICL"
    similarity_preout = true
    similarity_postout = true
    similarity_mincorr = 0
    similarity_maxcorr = 1
    similarity_bsize = 0
    similarity_gsize = 4096
    similarity_lsize = 32
}
profiles{
standard {
        process {
            memory = 14.GB

            withName:similarity_chunk {
                cpus = (params.similarity_hardware_type == "cpu")
                    ? 1
                    : params.similarity_threads
            }
            withName:similarity_mpi {
                cpus = (params.similarity_hardware_type == "cpu")
                    ? params.similarity_chunks
                    : params.similarity_chunks * params.similarity_threads
            }
            withName:corrpower {
                cpus = params.corrpower_chunks
            }
            withName:condtest {
                cpus = params.condtest_chunks
            }
        }
    }
}
