k8s {
   context='gke_uniapp-cromwell_europe-west2-b_cluster-1'
   namespace='default'
   workDir='/workspace/example_nf/example_nf/work'
   storageClaimName = 'test-dynamic-volume-claim'
   computeResourceType = 'job'
}

executor {
  queueSize = 30
}


process {
   executor='k8s'
   container = 'eu.gcr.io/uniapp-cromwell/biomex.dimension.reduction@sha256:c2df0af02ba0f71c795eccc96cd5287146f133db1fb9dfadb05e9d9224bfb074'

}


profiles {
    docker {
        docker.enabled = true
    }

    google {
        process {
            executor = "google-lifesciences"
            maxRetries = 10

            cpus = 2
            memory = 8.GB

            withLabel:gpu {
                if ( params.similarity_hardware_type != "cpu" ) {
                    accelerator = [request: 1, type: params.similarity_hardware_type]
                }
            }
        }
        executor {
            queueSize = (params.similarity_hardware_type == "cpu") ? 50 : 1
        }
        google {
            zone = "us-central1-c"

            lifeSciences.bootDiskSize = 20.GB
            lifeSciences.debug = false
            lifeSciences.preemptible = true
            lifeSciences.sshDaemon = false
        }

        workDir = "gs://nextflow-data/work"
    }

    

    singularity {
        singularity.enabled = true
    }

    standard {
        process {
            memory = 14.GB

            withName:similarity_chunk {
                cpus = (params.similarity_hardware_type == "cpu")
                    ? 1
                    : params.similarity_threads
            }
            withName:similarity_mpi {
                cpus = (params.similarity_hardware_type == "cpu")
                    ? params.similarity_chunks
                    : params.similarity_chunks * params.similarity_threads
            }
            withName:corrpower {
                cpus = params.corrpower_chunks
            }
            withName:condtest {
                cpus = params.condtest_chunks
            }
        }
    }

    testing {
        process.errorStrategy = "terminate"
    }
}
