k8s {
   context='gke_uniapp-cromwell_europe-west2-b_cluster-1'
   namespace='default'
   workDir='/workspace/example_nf/example_nf/work'
   storageClaimName = 'test-dynamic-volume-claim'
   computeResourceType = 'job'
}

executor {
  queueSize = 30
}
params {
similarity = true
    similarity_chunkrun = true
    similarity_chunks = 4
    similarity_hardware_type = "cpu"
    similarity_threads = 1
    similarity_clusmethod = "gmm"
    similarity_corrmethod = "spearman"
    similarity_minexpr = 0
    similarity_minsamp = 25
    similarity_minclus = 1
    similarity_maxclus = 5
    similarity_criterion = "ICL"
    similarity_preout = true
    similarity_postout = true
    similarity_mincorr = 0
    similarity_maxcorr = 1
    similarity_bsize = 0
    similarity_gsize = 4096
    similarity_lsize = 32
    
    
    corrpower = true
    corrpower_chunks = 4
    corrpower_alpha = 0.001
    corrpower_power = 0.8

    condtest = true
    condtest_chunks = 4
    condtest_feat_tests = ""
    condtest_feat_types = ""
    condtest_alpha = 0.001
    condtest_power = 0.8

    extract = true
    extract_format = "tidy"
    extract_mincorr = 0
    extract_maxcorr = 1
    extract_filter_pvalue = 0.001
    extract_filter_rsquare = 0.3
}

process {
   container = 'eu.gcr.io/uniapp-cromwell/biomex.dimension.reduction@sha256:c2df0af02ba0f71c795eccc96cd5287146f133db1fb9dfadb05e9d9224bfb074'
}

profiles{
standard {
        process {
            memory = 1.GB

            withName:corrpower {
                cpus = params.corrpower_chunks
            }
            withName:condtest {
                cpus = params.condtest_chunks
            }
        }
    }
}
